@model EMSApp.Models.Department
@{ ViewBag.Title = "AddOrEdit"; }

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Department Form</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">

            <div class="form-body">
                @using (Html.BeginForm())
                {
    @Html.HiddenFor(model => model.DeptID)

                    <table class="table" id="dataTable" width="100%" cellspacing="0">

                        <tr>
                            <td>@Html.Label("Department Name")</td>
                            <td> @Html.EditorFor(model => model.DeptName)</td>
                            <td>@Html.ValidationMessageFor(model => model.DeptName, "", new { @class = "text-danger" })</td>
                        </tr>
                        <tr>
                            <td>@Html.Label("Department Description")</td>
                            <td>@Html.EditorFor(model => model.DeptDescription)</td>
                            <td>@Html.ValidationMessageFor(model => model.DeptDescription, "", new { @class = "text-danger" })</td>
                        </tr>
                        <tr>
                            <td>
                                <button type="reset" class="btn btn-warning btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-exclamation-triangle"></i>
                                    </span>
                                    <span class="text">Reset</span>
                                </button>
                                @*<input type="reset" value="Reset" class="btn btn-danger btn-icon-split">*@
                            </td>
                            <td>
                                <button type="submit" class="btn btn-success btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-check"></i>
                                    </span>
                                    <span class="text">Submit</span>
                                </button>
                                @*<input type="submit" value="Submit" class="btn btn-success btn-icon-split btn-lg">*@
                            </td>

                            <td></td>
                        </tr>
                    </table>}
            </div>
        </div>
        <script>
            document.write('<a href="' + document.referrer + '" class="btn btn-light btn-icon-split"><span class="icon text-gray-600"><i class= "fas fa-arrow-left"></i></span ><span class="text">Go Back</span></a>');
        </script>
    </div>
</div>