@using PagedList.Mvc
@model  PagedList.IPagedList<EMSApp.Models.Employee>

@{ ViewBag.Title = "Employees"; }

<h2>Employees</h2>

<p>
    <a href="@Url.Action("AddOrEdit","Employees")" class="btn btn-info btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-info-circle"></i>
        </span>
        <span class="text">Create New</span>
    </a>
</p>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Employees Table</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">

            @if (Model != null && Model.Count() > 0)
            {
                using (Html.BeginForm())
                {
<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <tr>
        <!--  <th>

              @Html.ActionLink("Employee ID", "Index",
        new { sortBy = ViewBag.IDSortParm })
          </th>-->
        <th>

            @Html.ActionLink("First Name", "Index",
                          new { sortBy = ViewBag.FNameSortParm })
        </th>
        <th>
            @Html.Label("Last Name")
        </th>
        <th>
            @Html.Label("NIC")
        </th>
        <th>
            @Html.Label("Mobile No")
        </th>
        <th>
            @Html.Label("Address")
        </th>
        <th>
            @Html.Label("Employee Type Name")
        </th>
        <th>
            @Html.Label("Department Name")
        </th>
        <th>
            @Html.Label("Options")
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <!--<td>
        @Html.DisplayFor(modelItem => item.EmpID)
    </td>-->
    <td>
        @Html.DisplayFor(modelItem => item.FirstName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NIC)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MobileNum)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Address)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EmployeeType.EmployeeTypeName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Department.DeptName)
    </td>
    <td>
        <a href="@Url.Action("AddOrEdit", "Employees", new { id = item.EmpID })">Edit</a>
        <a onclick="Delete(@item.EmpID)"> Delete</a>
    </td>
</tr>
}
</table>
                    <script>document.write('<a href="' + document.referrer + '" class="btn btn-light btn-icon-split"><span class="icon text-gray-600"><i class= "fas fa-arrow-left"></i></span ><span class="text">Go Back</span></a>');</script>
 }
            }
            else
            {

<p class="h4 text-danger font-weight-bold text-center">NO ITEMS MATCHED YOUR SEARCH QUERY!</p>
                @Html.ActionLink("Back to Full List", "Index", "Employees")}

            <hr />

            <div class="text-center">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortBy = Request["sortBy"] }), PagedListRenderOptions.ClassicPlusFirstAndLast)
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        function Delete (id){
            alertify.confirm('Employee management system', 'Are you sure to delete This record', function () {
                window.location.href = '@Url.Action("Delete", "Employees")/' + id;
            }, null);

        }
    </script>
}